</div>
		{% include sidebar.html %}

		</div>

		<!-- Footer -->
		<div class="row">
			<footer>
				<div class="footer-links group hide-for-small">
					<a class="back-to-top" href="#top"><i class="barley-icon-circle-arrow-up"></i>Back to Top</a>
					<ul class="footer-nav">
						<!-- barleynav -->
						<li><a href="index.html" title="Go to homepage">Blog</a></li>
						<li><a href="about.html" title="Go to About page">About</a></li>
						<li><a href="photos.html" title="Go to Photo Albums">Photo Albums</a></li>
						<!-- endbarleynav -->
					</ul>
				</div>
				<div class="final group">
					<a class="barley-badge" href="http://getbarley.com"><i class="barley-icon-barley"></i>Powered by Barley</a>
					<span class="copyright" data-barley="footer_copyright" data-barley-editor="mini">&copy; Jane  Doe. All rights reserved.</span>
				</div>
			</footer>
		</div>

	</section>
	<!-- End Main Page Content -->

	<!-- Mobile Nav -->
	<section role="complementary">
		<div id="sideMenu" class="sidebar show-for-small"></div>
	</section>

</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/javascripts/foundation_4/javascripts/foundation/foundation.js"></script>
	<script src="/javascripts/foundation_4/javascripts/foundation/foundation.clearing.js"></script>
	<script src="/javascripts/foundation_4/javascripts/foundation/foundation.cookie.js"></script>
	<script src="/javascripts/foundation_4/javascripts/foundation/foundation.forms.js"></script>
	<script src="/javascripts/foundation_4/javascripts/foundation/foundation.placeholder.js"></script>
	<script src="/javascripts/foundation_4/javascripts/foundation/foundation.section.js"></script>
	<script src="/javascripts/foundation_4/javascripts/foundation/jquery.offcanvas.js"></script>

  	<script src="/javascripts/blog.js"></script>

</body>
</html>
