// Import Foundation Components

   @import "_settings";
   @import "foundation/foundation-global"; 
   @import "foundation/components/global";
   @import "foundation/components/grid";
   @import "foundation/components/visibility";
   @import "foundation/components/block-grid";
   @import "foundation/components/type";
   @import "foundation/components/buttons";
   @import "foundation/components/forms"; 
   @import "foundation/components/flex-video";
   @import "foundation/components/section";
   @import "foundation/components/tables";
   @import "foundation/components/thumbs";


// Mixins

@mixin fade {
	-webkit-transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;
}
@mixin orange-gradient {
	background: rgb(214,141,32);
	background: -moz-linear-gradient(top,  rgba(198,116,15,1) 0%, rgba(214,141,32,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,116,15,1)), color-stop(100%,rgba(214,141,32,1)));
	background: -webkit-linear-gradient(top,  rgba(198,116,15,1) 0%,rgba(214,141,32,1) 100%); 
	background: -o-linear-gradient(top,  rgba(198,116,15,1) 0%,rgba(214,141,32,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(198,116,15,1) 0%,rgba(214,141,32,1) 100%); 
	background: linear-gradient(to bottom,  rgba(198,116,15,1) 0%,rgba(214,141,32,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d68d20', endColorstr='#c6740f',GradientType=0 );
}

// Variables

	$primary: #444;
	$secondary: #b57519;
	$headline: 'Alegreya';
	$copy: 'Alegreya';



body {
	background: url(../images/bg.jpg), #e6e6e6;
	background-size: 158px 144px; 
	background-position: top center;
	font-family: $copy, serif;
	-webkit-font-smooting: antialiased;
	color: $primary;
	height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}
.row.wrapper {
	overflow: visible;
}
header {
	min-height: 30px;
	margin: 0 auto;
	padding: 10px 0;
	.identity {
		padding: 14px 20px 0;
		text-align: center;
		img {
			&.photo {
			box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08), 0 1px 3px 0 rgba(0,0,0,0.07);  
			}
			&.logo {
				margin: 10px 20px 0;
			}
		}
		h1 {
			font-size: 38px;
			margin: 24px 20px 10px;
		}
	}
}
.top-strip {
	height: 12px;
	@include orange-gradient;
	box-shadow: 0 -5px 9px -4px rgba(0,0,0,0.2) inset, 0 -2px 4px -1px rgba(0,0,0,0.18) inset, 0 2px 6px 0 rgba(0,0,0,0.26);
}
.content {
	background: #f9f9f9;
	box-shadow: 0 0 26px 0 rgba(0,0,0,0.05), 0 1px 16px 0 rgba(0,0,0,0.04), 0 2px 6px 0 rgba(0,0,0,0.08);
	margin-bottom: 30px;
	height: auto;
	a {
		color: $secondary;
		opacity: 1;
		@include fade;
		cursor: pointer;
		&:hover {
			color: $secondary;
			opacity: 0.65;
			@include fade;
		}
	}
}
#sideNav, footer {
	a {
		color: $secondary;
		opacity: 1;
		@include fade;
		cursor: pointer;
		&:hover {
			color: $secondary;
			opacity: 0.65;
			@include fade;
		}
	}
}
.main {
	background: white;
	border-top: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 -30px 64px -28px rgba(0,0,0,0.09) inset, 2px 0 5px 0 rgba(0,0,0,0.045), 0 1px 3px 0 rgba(0,0,0,0.05);
	padding-top: 13px;
	padding-bottom: 30px;
	min-height: 1020px;
}
.sidebar {
	padding: 20px;
}
.sidebar-spacer {
	clear: both;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
}
article, section {
	padding: 22px;
	h2 {
		font-family: $headline, serif;
		font-weight: normal;
		font-size: 34px;
		padding: 10px 0;
		line-height: 44px;
		a {
			color: $primary !important;
			&:hover {
				color: $primary !important;
				border: none;
			}
		}
	}
	p {
		font-size: 15px;
	}
	a {
		&:hover { 
			border-bottom: 1px dotted rgba(201,119,0,0.65);
		}
		&.read-more {
			font-style: italic;
		}	
	}
	blockquote {
		font-style: italic;
		color: lighten($primary,40%);
		padding: 0 0 0 30px;
		margin: 30px 0;
		border-left: 3px solid rgba(0,0,0,0.05);
		&:before {
			content: open-quote;
			font-size: 38px;
			color: rgba(0,0,0,0.2);
			vertical-align: middle;
			line-height: 9px;
			margin: 0 7px 0 -20px;
		}
		&:after {
			content: close-quote;
			font-size: 38px;
			color: rgba(0,0,0,0.2);
			vertical-align: -11px;
			line-height: 9px;
		}
	}
	.flex-video {
		margin-bottom: 34px;
	}
	.meta {
		border-top: 1px solid rgba(0,0,0,0.1);
		height: 36px;
		padding: 14px 0;
		margin-bottom: 36px;
		span {
			font-style: italic;
			font-size: 12px;
			color: rgba(0,0,0,0.6);
			margin-right: 20px;
			i {
				color: rgba(0,0,0,0.25);
				font-size: 20px;
				vertical-align: -1px;
				margin-right: 6px;
			}
			a {
				color: #b57519;
				margin-right: 2px;
				opacity: 1;
				@include fade;
			}
			a:after {
				content: ",";
				color: rgba(0,0,0,0.35);
			}
			a:last-child:after {
				content: none;
			}
			a:hover {
				opacity: 0.6;
				@include fade;
				border-bottom: 1px dotted rgba(201,119,0,0.6);
			}
		}
	}
	h4 {
		font-size: 20px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		font-family: inherit;
		padding: 0 0 14px;
		margin: 38px 0 26px;
		&.time {
			border-bottom: 1px solid rgba(0,0,0,0.07);
			margin-left: -22px;
			padding-left: 32px;
			padding-bottom: 8px;
			margin-bottom: 28px;
			a.expand {
				display: block;
				width: 20px;
				height: 20px;
				position: absolute;
				margin: 26px 0 0 -42px;
				border-radius: 50%;
				background: rgb(214,141,32);
				background: -moz-linear-gradient(top,  rgba(214,141,32,1) 0%, rgba(198,116,15,1) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,141,32,1)), color-stop(100%,rgba(198,116,15,1)));
				background: -webkit-linear-gradient(top,  rgba(214,141,32,1) 0%,rgba(198,116,15,1) 100%); 
				background: -o-linear-gradient(top,  rgba(214,141,32,1) 0%,rgba(198,116,15,1) 100%); 
				background: -ms-linear-gradient(top,  rgba(214,141,32,1) 0%,rgba(198,116,15,1) 100%); 
				background: linear-gradient(to bottom,  rgba(214,141,32,1) 0%,rgba(198,116,15,1) 100%); 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d68d20', endColorstr='#c6740f',GradientType=0 );
				box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1), 0 1px 1px 0 rgba(0,0,0,0.13), 0 0 0 5px rgba(0,0,0,0.035);
				content: "+";
				font-weight: normal;
				font-family: sans-serif;
				font-size: 15px;
				text-align: center;
				line-height: 18px;
				color: rgba(255,255,255,0.8);
				padding: 0;
			}
			span {
				&.count {
					float: right;
					text-align: right;
					font-size: 12px;
					font-weight: normal;
					font-style: italic;
					margin-top: 5px;
					color: rgba(0,0,0,0.45);
				}
			}	
			&.active {
			}
		}
	}
	table {
		border: none;
		box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08), 0 1px 3px 0 rgba(0,0,0,0.07);
		font-family: sans-serif;
		font-size: 13px;
		color: lighten($primary,10%);
		margin-bottom: 30px;
		thead {
			border-top: 3px solid rgba(201,119,0,0.6);
			border-bottom: 1px solid rgba(0,0,0,0.04);
		}
		th, td {
			padding: 15px 16px 14px !important;
		}
	}	
	pre {
		background: rgba(0,0,0,0.02);
		border-top: 3px solid rgba(201,119,0,0.6);
		box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08), 0 1px 3px 0 rgba(0,0,0,0.07), 0 70px 70px -45px rgba(255,255,255,1) inset;
		padding: 20px;
		margin-bottom: 30px;
		overflow: auto;
		code {
			font-size: 12px;
			color: lighten($primary,10%);
			font-family: 'PT Mono', sans-serif;
		}
	}
	img {
		&.left {
			float: left;
			margin: 8px 28px 28px 0; 

		}
		&.right {
			float: right;
			margin: 8px 0 28px 28px; 
		}
	}
	&.timeline {
		margin-left: 24px;
		margin-top: 25px;
		margin-bottom: 46px;
		padding-bottom: 30px;
		border-left: 1px solid #efefef;
		&:before {
			display: block;
			width: 20px;
			height: 20px;
			position: absolute;
			margin: -32px 0 0 -32px;
			border-radius: 50%;
			background: rgb(242,242,242); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(242,242,242,1) 42%, rgba(229,229,229,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(42%,rgba(242,242,242,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 42%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(242,242,242,1) 42%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(242,242,242,1) 42%,rgba(229,229,229,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(242,242,242,1) 42%,rgba(229,229,229,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
			box-shadow: 0 1px 4px 0 rgba(0,0,0,0.09), 0 1px 1px 0 rgba(0,0,0,0.1);
			content: "⦾";
			font-size: 20px;
			text-align: center;
			line-height: 20px;
			color: rgba(0,0,0,0.12);
			padding: 0;
		}
		&:after {
			display: block;
			width: 20px;
			height: 20px;
			position: absolute;
			margin: 26px 0 0 -32px;
			border-radius: 50%;
			background: rgb(242,242,242); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(242,242,242,1) 42%, rgba(229,229,229,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(42%,rgba(242,242,242,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 42%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(242,242,242,1) 42%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(242,242,242,1) 42%,rgba(229,229,229,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(242,242,242,1) 42%,rgba(229,229,229,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
			box-shadow: 0 1px 4px 0 rgba(0,0,0,0.09), 0 1px 1px 0 rgba(0,0,0,0.1);
			content: "☉";
			font-size: 20px;
			text-align: center;
			line-height: 24px;
			color: rgba(0,0,0,0.12);
			padding: 0;
		}
		h2 {
			margin-left: -22px;
			padding-left: 32px;
			margin-top: -10px;
			border-bottom: 1px solid rgba(0,0,0,0.07);
			padding-bottom: 26px;
		}
		article {
			margin-top: 10px;
			h2 {
				font-size: 22px;
				padding-bottom: 4px;
				padding-left: 88px;
				border: none;
			}	
			.meta {
				margin-right: -24px;
				margin-bottom: -56px;
				border: none;
				.date {
					margin-top: -74px;
					float: left;
					text-align: center;
					margin-left: -8px;
				}		
			}	
		}
	}
	&.categories {
		h2 {
			border-bottom: 1px solid rgba(0,0,0,0.07);
			padding-bottom: 26px;
			margin-bottom: 36px;
		}
		h5 {
			border-bottom: 1px dotted rgba(0,0,0,0.1);
			padding-bottom: 12px;
			padding-left: 4px;
			margin-bottom: 28px;
			font-weight: normal;
			font-size: 17px;
			span.count {
				margin-top: 5px;
				margin-left: 8px;
				color: rgba(0,0,0,0.35);
				font-size: 13px;
				font-style: italic;
			}
			i {
				float: right;
				color: rgba(201,119,0,0.7);			
			}
			&:last-child {
				border: none;
			}
		}
	}
}
article {
	ul {
		list-style: disc inside;
		margin: 20px 0 32px 22px;
		li {
			font-size: 15px;
			font-style: italic;
			margin: 3px 0;
		}
	}
	ol {
		list-style: decimal inside;
		margin: 20px 0 30px 22px;
		li {
			font-size: 15px;
			font-style: italic;
			margin: 3px 0;
		}
	}
}
[class*="block-grid-"] {
	margin-bottom: 26px;
	img {
		box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08), 0 1px 3px 0 rgba(0,0,0,0.07);
	}
}
.page-title {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 26px;
	margin-bottom: 46px;
}
section {
	.sidebar-zone {
		a:hover {
			border: none;
		}
	}
}
.sidebar-zone {
	border-bottom: 1px solid rgba(0,0,0,0.065);
	h3 {
		font-size: 17px;
		font-weight: bold;
		color: rgba(0,0,0,0.8);
		border-bottom: 1px dotted rgba(0,0,0,0.1);
		font-family: inherit;
		padding-bottom: 10px;
		margin-bottom: 3px;
		a {
			color: rgba(0,0,0,0.8);
			opacity: 1;
			@include fade;
			i {
				float: right;
				font-size: 15px;
				margin: 1px 6px 0 0;
				opacity: 0;
				@include fade;
			}
			&:hover {
				opacity: 0.75;
				@include fade;
				i {
					opacity: 0.6;
					@include fade;
				}
			}
		}
	}
	p {
		margin: 12px 0;
	}
}
.identity {
	padding: 14px 20px 30px;
	text-align: center;
	a {
		&:hover {
			border: none;
		}
	}
	img {
		&.photo {
			box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08), 0 1px 3px 0 rgba(0,0,0,0.07);  
		}
		&.logo {
		}
	}
	h1 {
		font-family: inherit;
		font-size: 48px;
		text-align: center;
		margin: 0;
		line-height: 16px;
	}
}
.intro {
	padding: 10px 20px 8px;
	margin: 10px 0;
	border-bottom: none;
	p {
		font-size: 14px;
		color: rgba(0,0,0,0.6);
	}
}
.search {
	padding: 22px 26px 8px;
	background: rgba(0,0,0,0.02);
	margin: -10px -15px 10px;
	border-top: 1px solid rgba(0,0,0,0.035);
	border-bottom: 1px solid rgba(0,0,0,0.035);
	input:not([type=submit]):not([type=file]) {
		background: white;
		box-shadow: none;
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.045);
		border: none;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		outline: none;
	}
	.submit-button {
		margin: -44px 6px 0 0;
		float: right;
		font-size: 17px;
		padding-right: 2px;
		color: rgba(201,119,0,0.85);
		opacity: 1;
		@include fade;
		&:hover {
			opacity: 0.6;
			@include fade;
		}
	}
}
form {
	input:not([type=submit]):not([type=file]), textarea, textarea:focus {
		background: white;
		box-shadow: none;
		border: 1px solid rgba(0,0,0,0.08);
		border-bottom: 1px solid rgba(0,0,0,0.15);
		outline: none;
		padding: 16px 10px;
	}
	textarea, textarea:focus {
		padding: 10px 12px 11px;
		min-height: 120px;
		margin-bottom: 18px;
	}
	.prefix, .postfix {
		height: auto;
	}
	.error input, input.error, .error textarea, textarea.error {
		border-color: rgba(201, 119, 0, 0.5) !important;
		background-color: rgba(201, 119, 0, 0.1) !important;
	}
	.error small, small.error {
		font-size: 11px;
		font-weight: normal;
		text-transform: uppercase;
		background: rgb(214,141,32);
		background: -moz-linear-gradient(top,  rgba(198,116,15,1) 0%, rgba(214,141,32,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,116,15,1)), color-stop(100%,rgba(214,141,32,1)));
		background: -webkit-linear-gradient(top,  rgba(198,116,15,1) 0%,rgba(214,141,32,1) 100%); 
		background: -o-linear-gradient(top,  rgba(198,116,15,1) 0%,rgba(214,141,32,1) 100%); 
		background: -ms-linear-gradient(top,  rgba(198,116,15,1) 0%,rgba(214,141,32,1) 100%); 
		background: linear-gradient(to bottom,  rgba(198,116,15,1) 0%,rgba(214,141,32,1) 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d68d20', endColorstr='#c6740f',GradientType=0 );
		color: white;
		padding: 6px;
		box-shadow: 0 1px 4px 0 rgba(0,0,0,0.13), 0 3px 3px -2px rgba(0,0,0,0.2) inset;
	}
	.row {
		.row {
			margin-top: 14px; 
			&.spacer {
				margin: 16px 0 24px;
				border-bottom: 1px dotted rgba(0,0,0,0.08);
				clear: both;
			}
		}
	}
}
.nav-list {
	padding: 10px 20px 8px;
	margin: 10px 0;
	border-bottom: none;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			font-size: 14px;
			border-bottom: 1px dotted rgba(0,0,0,0.06);
			padding: 7px 0 6px;
			a {
				color: #b57519;
				opacity: 1;
				@include fade;
				&:hover {
					opacity: 0.65;
					@include fade;
				}
			}
			i {
				float: right;
			}
		}

	}
}
.nav-link-list {
	padding: 10px 20px 8px;
	margin: 10px 0;
	border-bottom: none;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			font-size: 14px;
			border-bottom: 1px dotted rgba(0,0,0,0.06);
			padding: 7px 0 6px;
			background-image: url(../images/nav_arrow.svg);
			background-position: top right;
			background-repeat: no-repeat;
			background-size: 18px 22px;
			a {
				color: $secondary;
				opacity: 1;
				@include fade;
				&:hover {
					opacity: 0.65;
					@include fade;
				}
			}
			i {
				float: right;
			}
		}

	}
}
.social-list {
	padding: 10px 20px 8px;
	margin: 10px 0 40px;
	border-bottom: none;
	ul {
		list-style: none;
		margin: 0 0 8px -2px;
		padding: 0;
		li {
			font-size: 19px;
			float: left;
			padding: 2px;
			a {
				color: #b57519;
				opacity: 1;
				@include fade;
				&:hover {
					opacity: 0.65;
					@include fade;
				}
			}
		}	
	}	
}

.ads {
	padding: 10px 20px 8px;
	margin: 10px 0;
	border-bottom: none;
	ul {
		list-style: none;
		margin: 15px 0;
		padding: 0;
		&.small-square {
			li {
				width: 48%;
				margin-right: 4%;
				margin-bottom: 4px; 
				float: left;
				&:nth-child(even) { 
					margin-right: 0;
				}	
			}
		}
	}		
}
button, .button {
	border: none;
	font-weight: normal;
	line-height: 1;
	background: rgb(214,141,32);
	background: -moz-linear-gradient(top,  rgba(214,141,32,1) 0%, rgba(198,116,15,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,141,32,1)), color-stop(100%,rgba(198,116,15,1)));
	background: -webkit-linear-gradient(top,  rgba(214,141,32,1) 0%,rgba(198,116,15,1) 100%); 
	background: -o-linear-gradient(top,  rgba(214,141,32,1) 0%,rgba(198,116,15,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(214,141,32,1) 0%,rgba(198,116,15,1) 100%); 
	background: linear-gradient(to bottom,  rgba(214,141,32,1) 0%,rgba(198,116,15,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d68d20', endColorstr='#c6740f',GradientType=0 );
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 1px 1px 0 rgba(0,0,0,0.05); 
	opacity: 1;
	@include fade;
}
button:hover, .button:hover {
	opacity: 0.65;
	@include fade;
}
input.button {
	padding-top: 12px;
}
img.hero {
	box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08), 0 1px 3px 0 rgba(0,0,0,0.07);  
	margin-bottom: 32px;
}
::-webkit-input-placeholder {
   color: rgba(0,0,0,0.3);
   font-style: italic;
}
:-moz-placeholder { 
   color: rgba(0,0,0,0.3);
   font-style: italic;
}
::-moz-placeholder { 
   color: rgba(0,0,0,0.3);
   font-style: italic; 
}
:-ms-input-placeholder {  
   color: rgba(0,0,0,0.3);
   font-style: italic;
}
.tooltip {
	font-weight: normal;
}
.paging {
	border-top: 1px dotted rgba(0,0,0,0.1);
	padding: 16px 12px 0;
	margin-bottom: 46px;
	a {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: rgba(201,119,0,0.08);
		-webkit-transition: background-color .6s ease-in-out;
		-moz-transition: background-color .6s ease-in-out;
		-ms-transition: background-color .6s ease-in-out;
		transition: background-color .6s ease-in-out;
		float: left;
		text-align: center;
		color: #b57519;
		font-size: 27px;
		display: block;
		cursor: pointer;
		padding-right: 2px;
		&.older {
			float: right;
			padding-left: 4px;
			padding-right: 0;
		}
		&:hover {
			opacity: 1;
			background-color: rgba(201,119,0,0.25);
			-webkit-transition: background-color .6s ease-in-out;
			-moz-transition: background-color .6s ease-in-out;
			-ms-transition: background-color .6s ease-in-out;
			transition: background-color .6s ease-in-out;
			border: none;
		}
		&.inactive {
			background-color: rgba(0,0,0,0.03);
			color: rgba(0,0,0,0.18);
			cursor: default;
			&:hover {
			background-color: rgba(0,0,0,0.03);
			}
		}
	}
	.has-tip {
		border: none;
		cursor: inherit;
		font-weight: normal;
		color: inherit;
	}
	.tooltip {
		font-weight: normal;
	}
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
a.back-to-top {
	float: left;
	font-size: 15px;
	font-style: italic;
	margin: 3px 0 0 2px;
	i {
		color: rgba(201,119,0,0.7);
		margin-right: 4px;
	}
}
.footer-nav {
	float: right;
	list-style: none;
	margin-right: 2px;
	li {
		float: left;
		padding: 0 12px 0 0;
		font-size: 15px;
		&:after {
			content: "•";
			margin: 0 0 0 12px;
			color: rgba(0,0,0,0.15);
		}
		&:last-child {
			padding-right: 0;
			&:after {
				content: none;
			}
		}
	}
}
footer {
	padding-top: 30px;
	.final {
		margin: 5px 0 20px;
		padding: 26px 0 22px;
		border-top: 1px dotted rgba(0,0,0,0.12);
		text-align: left;
		color: rgba(0,0,0,0.36);
		font-size: 12px;
		font-style: italic;
	}
	a.barley-badge {
		margin: -14px 2px 0 -4px;
		padding: 0;
		float: left;
		line-height: 20px;
		color: rgba(0,0,0,0.36);
		&:hover {
			border: none;
		}
		i {
			text-align: center;
			font-size: 24px;
			padding: 0 6px 4px;
			color: rgba(0,0,0,0.26);
			vertical-align: -3px;
		}
	}
	.copyright {
		float: right;
		font-style: italic;
	}
}	
.menu-toggle {
	font-size: 27px;
	display: block;
	width: 50px;
	padding: 2px 16px 8px;
}
.active {
	.menu-toggle {
		&:after {
			content: "◀";
			font-size: 14px;
			position: absolute;
			margin: -20px 0 0 28px;

		}
	}
}
img.reveal-modal {
	border: none;
	width: 70%;
	margin-left: -35%;
}
.photo-grid-3up {
  	margin-right: -5%;
	img {
  		float: left;
  		max-width: 30%;
  		margin-right: 14px;
  		margin-bottom: 14px; 
  		&:last-of-type {
  			margin-bottom: 32px; 
  		} 
	}  
	p,h1,h2,h3,h4,h5,h6,li,ul,blockquote {
	 	margin-right: 5%;
	}
}  
.photo-grid-2up {
  	margin-right: -5%;
	img {
	  	float: left;
	  	max-width: 46%;
	  	margin-right: 17px;
	  	margin-bottom: 17px; 
		&:last-of-type {
	  			margin-bottom: 32px; 
	  		} 
		}  
	p,h1,h2,h3,h4,h5,h6,li,ul,blockquote {
	 	margin-right: 5%;
	}
}  
.photo-grid-1up {
 	margin-right: -5%;
	img {
		&.small {
			float: left;
			max-width: 48%;
			margin-right: 14px;
			margin-bottom: 24px;
			&:nth-child(even) {
				margin-right: 0;
  				float: right;
			}
		}
	}
	p,h1,h2,h3,h4,h5,h6,li,ul,blockquote {
	 	margin-right: 5%;
	}
}  
.photo-album-container {
  	width: 44%;
  	float: left;
  	margin: 0 2% 10px;
	&:nth-child(even) {
 		float: right;
 	}
	&:nth-child(odd) {
  		clear: both;
  	}
}
.photo-album-cover {
  	padding: 0;
 	max-width: 100%;
 	position: relative;
  	z-index: 1;
  	background: white;
  	&:before {
	    content: url(../images/cover_placeholder.png);
	    max-width: 100%;
	    max-height: 100%;
	    height: 100%;
	    border: 6px solid white;
	    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.12), 0 0px 6px 0 rgba(0,0,0,0.2);
	    position: absolute;
	    z-index: -1;
	    overflow: hidden;
	    background: white;
	}
	&:after {
		@extend .photo-album-cover:before;
	}
	img {
	  	display: block;
	  	border: 6px solid white;
	  	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
	  	opacity: 1;
	  	-webkit-transition: opacity 0.6s ease-in-out;
	  	-moz-transition: opacity 0.6s ease-in-out;
	 	-ms-transition: opacity 0.6s ease-in-out;
	  	transition: opacity 0.6s ease-in-out;
		:hover {
		  	opacity: 0.75;
		  	-webkit-transition: opacity 0.6s ease-in-out;
		  	-moz-transition: opacity 0.6s ease-in-out;
		  	-ms-transition: opacity 0.6s ease-in-out;
		  	transition: opacity 0.6s ease-in-out;
		}
	}
	a {
		&:hover {
			border: none;
  			opacity: 1;
		}
	}
}
.photo-album-cover:before {
  top: 1px;
  left: 3px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.photo-album-cover:after {
  top: 0px;
  left: 4px;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
  z-index: -2;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
}
.photo-album-title {
  	display: block;
  	margin: 28px 0 38px;
  	text-align: center;
  	font-size: 16px;
	&:hover {
  		opacity: 1;
  		border: none;
  	}
	i {
  		font-size: 15px;
  		margin-left: 4px;
  	}
}
#album_tools {
  	background: #f2f2f2;
  	border-radius: 4px;
  	padding: 14px 16px 1px;
	a {
  		font-size: 32px;
  		width: auto;
	  	line-height: 13px;
	  	padding: 2px 9px 0px;
	  	height: auto;
	  	vertical-align: -7px;
	  	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08), 0 1px 1px 0 rgba(0,0,0,0.26);
	  	text-align: center;
	  	border-radius: 5px;
	  	margin-left: 10px;
	  	background: rgb(255,255,255);
	  	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
	  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(237,237,237,1)));
	  	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
	  	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
	  	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
	  	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
	  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	}
}


// Import Page Partials

@import "_media";

